.dark-caption  {
    font-weight: bold;
    background-color: rgba(125, 40, 20, 0.5);
}

.dark-caption>h2  {
    font-weight: bold;
    color: rgb(225, 244, 207)
    
}

.btn-nav {
    width: 100%;
    text-align: left;
    border-radius: 6%;
}

.btn-nav:hover {   
   color:bisque !important;
   border: solid 1px crimson !important;
}


.btn-selected {
    background-color: crimson !important;
}

.img-m {
    width: 8em;
    height: auto;
}

